<div class="form-container">
  <h1 class="form-title">Edit your quote</h1>
  <div class="error-container">
    <% if (errorMessage.length) { %>
      <p><%= errorMessage %></p>
    <% } %>
  </div>
  <form method="POST" action="/quotes/<%= quote._id %>" enctype="multipart/form-data">
    <div class="quote-field">
      <textarea type="text" placeholder="Write your quote..." name="body"/><%= quote.body%></textarea>
    </div>
    <div class="field-inline">
      <input type="text" placeholder="Who?" name="from" value="<%= quote.from %>"/>
      <input type="text" placeholder="Where?" name="location" value="<%= quote.location %>"/>
    </div>

    
    <div class="field-inline">
      <input type="hidden" name="photo" value="<%= quote.background %>"/>
      <input type="file" placeholder="Picture" name="photo" id="file" class="inputfile"/>
      <label for="file">Choose background</label>
    </div>
    
    <div>
      <input type="checkbox" placeholder="Quote" name="delete"><span><h5> Yes! I want to delete this quote.</h5></span>
    </div>

    <div class="submit">
      <button type="submit" class="btn btn-submit">Send quote</button>
    </div>
  </form>
</div>

<script src="/javascripts/file-upload.js"></script>
