<% quotes.forEach((quote) => { %>
  <div class="quote-card">
    <img class="avatar-sm" src="images/<%= quote.owner.imgPath %>" alt="">
    <p><%= quote.owner.username %></p>
    <h5>Member since <%= new Date(quote.owner.createdAt).getMonth() + 1 %>/<%= new Date(quote.owner.createdAt).getFullYear() %></h5>
    <h3><%= quote.body %></h3>
    <a class="link" href="/quotes/<%= quote._id%>"></a>
  </div>
<% }) %>
